<div class="alert alert-info">
–ü—Ä–∏–≤–µ—Ç, –î–∞—Ä—å—è! –ú–µ–Ω—è –∑–æ–≤—É—Ç –°–≤–µ—Ç–ª–∞–Ω–∞ –ß–∏—Ö –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ ¬´–≤—ã¬ª.

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –ó–µ–ª—ë–Ω—ã–º —Ü–≤–µ—Ç–æ–º –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ –∏ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
</div>
<div class="alert alert-warning">
<b>ü§î –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è:</b> –ñ—ë–ª—Ç—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–æ–¥–Ω–∞–∫–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).
</div>
<div class="alert alert-danger">
<b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ö—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –±–µ–∑ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ—Ç–æ—Ä—ã—Ö, —è –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç :(
</div>
<div class="alert alert-info">
<b>üëÇ –°–æ–≤–µ—Ç:</b> –ö–∞–∫–∏–µ-—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–∞—Ç–µ—Ä–∏–∞–ª—ã
</div>
–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º.
–ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
<div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã—Å—Ç—Ä–µ–µ.
 </div>

# –ê–Ω–∞–ª–∏–∑ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥

–í–æ –≤—Ä–µ–º—è –∫–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å–∞ –≤—ã—Ä–æ—Å —Å–ø—Ä–æ—Å –Ω–∞ —Ö–æ–±–±–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ —Ç—Ä–µ–±—É—é—Ç –≤—ã—Ö–æ–¥–∞ –Ω–∞ —É–ª–∏—Ü—É. –û–¥–Ω–∏–º –∏–∑ —Ç–∞–∫–∏—Ö —Ö–æ–±–±–∏ —è–≤–ª—è–µ—Ç—Å—è —á—Ç–µ–Ω–∏–µ, –ø–æ—ç—Ç–æ–º—É –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ —Å—Ç–∞—Ä—Ç–∞–ø–æ–≤ –Ω–∞—á–∞–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —á—Ç–µ–Ω–∏—è —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ã—Ö –∫–Ω–∏–≥. 

–£–≤–∏–¥–µ–≤ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª –¥–∞–Ω–Ω–æ–≥–æ —Å–µ–≥–º–µ–Ω—Ç–∞, –∫–æ–º–ø–∞–Ω–∏—è –≤—ã–∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ò —Ç–µ–ø–µ—Ä—å –µ–π –Ω–µ–æ–±—Ö–æ–¥–∏–º –∞–Ω–∞–ª–∏–∑ –∏–º–µ—é—â–µ–π—Å—è –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö —Å –∫–Ω–∏–≥–∞–º–∏, –∞–≤—Ç–æ—Ä–∞–º–∏, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞–º–∏, –∞ —Ç–∞–∫–∂–µ —Å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–º–∏ –æ–±–∑–æ—Ä–∞–º–∏, —á—Ç–æ–±—ã —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è**:<br>
–ù–∞–π—Ç–∏ –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞ —Å–µ—Ä–≤–∏—Å–∞, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ, –∫–∞–∫ –¥–ª—è —á–∏—Ç–∞—Ç–µ–ª–µ–π, —Ç–∞–∫ –∏ –¥–ª—è –º–æ–Ω–µ—Ç–µ–∑–∞—Ü–∏–∏.

**–•–æ–¥ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è**

1. <a id="data_review">–û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö</a>
2. <a id="database_analysis">–ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö</a>
3. <a id="conclusion">–û–±—â–∏–π –≤—ã–≤–æ–¥</a>

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö**

–¢–∞–±–ª–∏—Ü–∞ `books` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è

–¢–∞–±–ª–∏—Ü–∞ `authors` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` - –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞
- `author` - –∏–º—è –∞–≤—Ç–æ—Ä–∞

–¢–∞–±–ª–∏—Ü–∞ `publishers` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞

–¢–∞–±–ª–∏—Ü–∞ `ratings` c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏

–¢–∞–±–ª–∏—Ü–∞ `reviews` c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏
- `username` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞

–°—Ö–µ–º–∞ –¥–∞–Ω–Ω—ã—Ö: https://pictures.s3.yandex.net/resources/scheme_1589269096.png

## –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö
<a href="#data_review"></a>

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
            'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
            'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

–î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü, —á—Ç–æ–±—ã –ª—É—á—à–µ –ø–æ–Ω—è—Ç—å –∫–∞–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –Ω–∏—Ö —Ö—Ä–∞–Ω—è—Ç—Å—è.

In [2]:
# —Ñ—É–Ω–∫—Ü–∏—è –≤—ã–≤–æ–¥–∏—Ç –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
def sql_reader(dataset_name):
    
    # –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å
    query = ''' SELECT *
                FROM {}
                LIMIT 5;
            '''.format(dataset_name)
    
    # –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
    display(pd.io.sql.read_sql(query, con=engine))

In [3]:
# –≤—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
sql_reader('books')

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–≠—Ç–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö. –£ –Ω–µ–µ –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ —Å –ø–µ—Ä–≤–∏—á–Ω—ã–º –∫–ª—é—á–æ–º - `book_id`, –≤ –∫–æ—Ç–æ—Ä–æ–π —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∏ –∫–æ–ª–æ–Ω–∫–∏ —Å –≤–Ω–µ—à–Ω–∏–º–∏ –∫–ª—é—á–∞–º–∏ - `author_id` –∏ `publisher_id`.

In [4]:
# –≤—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
sql_reader('authors')

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–≠—Ç–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö. –£ –Ω–µ–µ –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ —Å –ø–µ—Ä–≤–∏—á–Ω—ã–º –∫–ª—é—á–æ–º - `author_id`, –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –º–æ–∂–Ω–æ —Å–≤—è–∑–∞—Ç—å –µ–µ —Å —Ç–∞–±–ª–∏—Ü–µ–π `books`.

In [5]:
# –≤—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
sql_reader('publishers')

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–≠—Ç–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö. –£ –Ω–µ–µ –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ —Å –ø–µ—Ä–≤–∏—á–Ω—ã–º –∫–ª—é—á–æ–º `publisher_id`, –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –º–æ–∂–Ω–æ —Å–≤—è–∑–∞—Ç—å –µ–µ —Å —Ç–∞–±–ª–∏—Ü–µ–π `books`.

In [6]:
# –≤—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
sql_reader('ratings')

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

–≠—Ç–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥. –£ –Ω–µ–µ –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ —Å –ø–µ—Ä–≤–∏—á–Ω—ã–º –∫–ª—é—á–æ–º - `rating_id` –∏ –∫–æ–ª–æ–Ω–∫–∞ —Å –≤–Ω–µ—à–Ω–∏–º –∫–ª—é—á–æ–º - `book_id`, –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –º–æ–∂–Ω–æ —Å–≤—è–∑–∞—Ç—å –µ–µ —Å —Ç–∞–±–ª–∏—Ü–µ–π `books`.

In [7]:
# –≤—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
sql_reader('reviews')

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

–≠—Ç–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –æ–±–∑–æ—Ä–∞—Ö –∫–Ω–∏–≥. –£ –Ω–µ–µ –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ —Å –ø–µ—Ä–≤–∏—á–Ω—ã–º –∫–ª—é—á–æ–º - `review_id` –∏ –∫–æ–ª–æ–Ω–∫–∞ —Å –≤–Ω–µ—à–Ω–∏–º –∫–ª—é—á–æ–º - `book_id`, –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –º–æ–∂–Ω–æ —Å–≤—è–∑–∞—Ç—å –µ–µ —Å —Ç–∞–±–ª–∏—Ü–µ–π `books`.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –ï—Å—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞—á–∏, –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤—Å–µ –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, —Å–æ–∑–¥–∞–Ω–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î, –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–Ω—ã —Ç–∞–±–ª–∏—Ü—ã
 </div>

## –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö 
<a href="#database_analysis">

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [8]:
# –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å:
    # –ë–µ—Ä–µ–º —Å—Ç—Ä–æ–∫–∏ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã books, –≥–¥–µ –≥–æ–¥ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏ –±–æ–ª—å—à–µ –∏–ª–∏ —Ä–∞–≤–µ–Ω 2000-–º—É 
    # –°—á–∏—Ç–∞–µ–º –ø–æ–ª—É—á–∏–≤—à–µ–µ—Å—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –ø–æ id

query = ''' SELECT COUNT(book_id) AS book_cnt
            FROM books
            WHERE EXTRACT(YEAR FROM CAST(publication_date AS date)) >= 2000;
        '''
    
# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
pd.io.sql.read_sql(query, con=engine)

   book_cnt
0       821

–ü–æ—Å–ª–µ 1-–≥–æ —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ `821 –∫–Ω–∏–≥–∞` –∏–∑ 1000 –∫–Ω–∏–≥, –∏–º–µ—é—â–µ–π—Å—è –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö. –≠—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –∫–Ω–∏–≥ —è–≤–ª—è—é—Ç—Å—è –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–º–∏ `–Ω–æ–≤–∏–Ω–∫–∞–º–∏`, –ª–∏–±–æ –ø–µ—Ä–µ–∏–∑–¥–∞–Ω–∏—è–º–∏ –∫–ª–∞—Å—Å–∏–∫–∏.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥

In [9]:
# –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å:
    # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ books —Ç–∞–±–ª–∏—Ü—É reviews –ø–æ book_id
    # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ books —Ç–∞–±–ª–∏—Ü—É ratings –ø–æ book_id
    # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—É –ø–æ book_id –∏ –Ω–∞–∑–≤–∞–Ω–∏—é –∫–Ω–∏–≥–∏, —Ç–∫ –º–æ–≥—É—Ç –±—ã—Ç—å –∫–Ω–∏–≥–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏, –Ω–æ —Ä–∞–∑–Ω—ã–º–∏ –∞–≤—Ç–æ—Ä–∞–º–∏
    # –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ —Ä–∞—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –Ω–µ–µ –∏ 
    # —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É, –æ–∫—Ä—É–≥–ª—è—è –µ–µ –¥–æ 1 –∑–Ω–∞–∫–∞ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π
    
query = ''' SELECT b.book_id, 
                   b.title, 
                   COUNT(DISTINCT rev.review_id) AS review_cnt,
                   ROUND(AVG(rat.rating), 1) AS rating_avg
            FROM books b
            LEFT JOIN reviews rev ON b.book_id = rev.book_id
            LEFT JOIN ratings rat ON b.book_id = rat.book_id
            GROUP BY b.book_id, b.title;
        '''
    
# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
pd.io.sql.read_sql(query, con=engine)

,book_id,title,review_cnt,rating_avg
0,1,'Salem's Lot,2,3.7
1,2,1 000 Places to See Before You Die,1,2.5
2,3,13 Little Blue Envelopes (Little Blue Envelope...,3,4.7
3,4,1491: New Revelations of the Americas Before C...,2,4.5
4,5,1776,4,4.0
...,...,...,...,...
995,996,Wyrd Sisters (Discworld #6; Witches #2),3,3.7
996,997,Xenocide (Ender's Saga #3),3,3.4
997,998,Year of Wonders,4,3.2
998,999,You Suck (A Love Story #2),2,4.5
999,1000,Zen and the Art of Motorcycle Maintenance: An ...,4,3.8

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –£—Å–ª–æ–≤–∏–µ –∑–∞–¥–∞—á–∏ –Ω–µ –ø–æ–¥—Ä–∞–∑—É–º–µ–≤–∞–µ—Ç –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –≤—ã–≤–æ–¥–∞, –Ω–∞–º –Ω—É–∂–Ω–∞ –≤—Å—è —Ç–∞–±–ª–∏—Ü–∞, –∞ –Ω–µ 5 —Å—Ç—Ä–æ–∫</s>
 </div>

<div class="alert alert-info"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü–æ–Ω—è–ª–∞, –ø–æ–ø—Ä–∞–≤–∏–ª–∞ :)</div>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

- –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–≥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä —Å–∏–ª—å–Ω–æ –≤–∞—Ä—å–∏—Ä—É—é—Ç—Å—è –æ—Ç –∫–Ω–∏–≥–∏ –∫ –∫–Ω–∏–≥–µ
- –ï—Å—Ç—å –≥–∏–ø–æ—Ç–µ–∑–∞ –æ —Ç–æ–º, —á—Ç–æ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –∫–Ω–∏–≥–∏ –±—É–¥—É—Ç –∏–º–µ—Ç—å –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ–±–∑–æ—Ä–æ–≤, –∫–∞–∫ 1776
- –¢–∞–∫ –∂–µ —Å–ª–æ–∂–Ω–æ —Å—É–¥–∏—Ç—å –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É –æ –∫–Ω–∏–≥–µ, —Ç–∞–∫ –∫–∞–∫ –º—ã –Ω–µ –∑–Ω–∞–µ–º —Å–∫–æ–ª—å–∫–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –æ—Ü–µ–Ω–∏–ª–æ –∫–Ω–∏–≥—É. –≠—Ç–æ –º–æ–≥–ª–æ –±—ã—Ç—å 1-2 —á–µ–ª–æ–≤–µ–∫–∞ –∏ —Ç–æ–≥–¥–∞ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –æ—á–µ–Ω—å —Å—É–±—å–µ–∫—Ç–∏–≤–Ω–∞. –ü–æ—ç—Ç–æ–º—É –¥–ª—è —Å–µ—Ä–≤–∏—Å–∞ –Ω—É–∂–Ω–∞ –æ—Å–æ–±–∞—è —Ñ–æ—Ä–º—É–ª–∞, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç —É—á–∏—Ç—ã–≤–∞—Ç—å –Ω–µ —Ç–æ–ª—å–∫–æ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É, –Ω–æ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–∞–≤–∏–≤—â–∏—Ö –æ—Ü–µ–Ω–∫—É
- `–°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞` –º–æ–∂–µ—Ç –ø–æ–º–æ—á—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º –ø—Ä–∏–Ω—è—Ç—å –≤—ã–±–æ—Ä –æ –ø—Ä–æ—á—Ç–µ–Ω–∏–∏ —Ç–æ–π –∏–ª–∏ –∏–Ω–æ–π –∫–Ω–∏–≥–∏

### –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥

In [10]:
# –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å:
    # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ books —Ç–∞–±–ª–∏—Ü—É publishers –ø–æ publisher_id
    # –§–∏–ª—å—Ä—É–µ–º –∫–Ω–∏–≥–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å—Ç—Ä–∞–Ω–∏—Ü > 50
    # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—É –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞
    # –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ —Ä–∞—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥
    # –°–æ—Ä—Ç–∏—Ä—É–µ–º –æ—Ç –±–æ–ª—å—à–µ–≥–æ –∫ –º–µ–Ω—å—à–µ–º—É –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥
    # –í—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—É—é —Å—Ç—Ä–æ–∫—É
    
query = ''' SELECT p.publisher,
                   COUNT(b.book_id) AS book_cnt
            FROM books b
            LEFT JOIN publishers p ON b.publisher_id = p.publisher_id
            WHERE b.num_pages > 50
            GROUP BY p.publisher
            ORDER BY book_cnt DESC
            LIMIT 1;
        '''
    
# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
pd.io.sql.read_sql(query, con=engine)

       publisher  book_cnt
0  Penguin Books        42

- `Penguin Books` —è–≤–ª—è–µ—Ç—Å—è –∏–∑–≤–µ—Å—Ç–Ω—ã–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º –∫–Ω–∏–≥ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º —è–∑—ã–∫–µ. –ò—Ö –∫–Ω–∏–≥–∏ —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –Ω–∞ –ø–æ–ª–∫–∞—Ö –∫–Ω–∏–∂–Ω—ã—Ö –º–∞–≥–∞–∑–∏–Ω–æ–≤, —á—Ç–æ –º–æ–∂–µ—Ç –≥–æ–≤–æ—Ä–∏—Ç—å –æ –∏—Ö –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω–æ—Å—Ç–∏ –≤ –ø–µ—á–∞—Ç–Ω–æ–º –≤–∏–¥–µ, –∞ –∑–Ω–∞—á–∏—Ç –∏ –≤ —ç–ª–µ–∫—Å—Ç—Ä–æ–Ω–Ω–æ–º —Ç–æ–∂–µ. –ó–∞—á–∞—Å—Ç—É—é –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –ø–µ—Ä–µ–∏–∑–¥–∞–µ—Ç –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–µ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏—è –∏–∑–≤–µ—Å—Ç–Ω—ã–µ –≤–æ –≤—Å–µ–º –º–∏—Ä–µ.
- 42 –∫–Ω–∏–≥–∏ - —ç—Ç–æ –Ω–µ —Ç–∞–∫ —É–∂ –∏ –º–Ω–æ–≥–æ –¥–ª—è –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞. –í—Å–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –∏–º–µ–µ—Ç –º–µ–Ω–µ–µ 50 –∫–Ω–∏–≥ –Ω–∞ —Å–≤–æ–µ–º —Å—á–µ—Ç—É. –ó–Ω–∞—á–∏—Ç —Ä–∞–∑–º–µ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ –¥–ª—è –Ω–∞—Å –Ω–µ –∏–º–µ–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è. –ú—ã –º–æ–∂–µ–º —Å–æ—Ç—Ä—É–¥–Ω–∏—á–∞—Ç—å —Å–æ –≤—Å–µ–º–∏.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

### –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥

In [13]:
# –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å:
    # –°–æ–∑–¥–∞–µ–º  –≤—Ä–µ–º–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º t, –≥–¥–µ
        # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ books —Ç–∞–±–ª–∏—Ü—É ratings –ø–æ book_id
        # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—É –ø–æ id –∫–Ω–∏–≥–∏ –∏ id –∞–≤—Ç–æ—Ä–∞
        # –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ —Ä–∞—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫
        # –§–∏–ª—å—Ç—Ä—É–µ–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ >= 50
    # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ t —Ç–∞–±–ª–∏—Ü—É authors –ø–æ author_id
    # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ t —Ç–∞–±–ª–∏—Ü—É ratings –ø–æ book_id
    # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—É –ø–æ –∞–≤—Ç–æ—Ä—É
    # –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ —Ä–∞—Å—á–∏—Ç—ã–≤–∞–µ–º —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É, –æ–∫—Ä—É–≥–ª—è—è –µ–µ –¥–æ 2-—Ö –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π
    # –°–æ—Ä—Ç–∏—Ä—É–µ–º –æ—Ç –±–æ–ª—å—à–µ–≥–æ –∫ –º–µ–Ω—å—à–µ–º—É –ø–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–µ
    # –í—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—É—é —Å—Ç—Ä–æ–∫—É
    
query = ''' WITH t AS (SELECT b.book_id, 
                              b.author_id,
                              COUNT(DISTINCT rat.rating_id) AS rating_cnt
                        FROM books b
                        LEFT JOIN ratings rat ON b.book_id = rat.book_id
                        GROUP BY b.book_id, b.author_id
                        HAVING COUNT(DISTINCT rat.rating_id) >= 50)
            SELECT a.author,
                   ROUND(AVG(rat.rating), 2) AS rating_avg
            FROM t
            LEFT JOIN authors a ON t.author_id = a.author_id
            LEFT JOIN ratings rat ON t.book_id = rat.book_id
            GROUP BY a.author
            ORDER BY rating_avg DESC
            LIMIT 1;
        '''
    
# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
pd.io.sql.read_sql(query, con=engine)

                       author  rating_avg
0  J.K. Rowling/Mary GrandPr√©        4.29

–ü–µ—Ä–≤–æ–µ –º–µ—Å—Ç–æ —É `–î–∂–æ–∞–Ω—ã –†–æ—É–ª–∏–Ω–≥` –∏–∑–≤–µ—Å—Ç–Ω–æ–π  –±—Ä–∏—Ç–∞–Ω—Å–∫–æ–π –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü—ã —Ñ–∞–Ω—Ç–∞—Å—Ç–∏—á–µ—Å–∫–∏—Ö —Ä–æ–º–∞–Ω–æ–≤ –æ ¬´–ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ¬ª. –°–µ—Ä–∏—è –∫–Ω–∏–≥ –∏–º–µ–µ—Ç –Ω–µ—Å–∫–æ–ª—å–∫–æ `—ç–∫—Ä–∞–Ω–∏–∑–∞—Ü–∏–π`, —á—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –æ–Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω–∞, –ø–æ—ç—Ç–æ–º—É —É –Ω–µ–µ –º–Ω–æ–≥–æ –æ—Ü–µ–Ω–æ–∫. 

–°—Ç–æ–∏—Ç –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ —Ç–µ, –∫–Ω–∏–≥–∏, —á—Ç–æ —É–∂–µ –¥–æ–±–∏–ª–∏—Å—å —É—Å–ø–µ—Ö–∞ –∏ –ø—Ä–∏–∑–Ω–∞–Ω–∏—è, –∞ –∑–Ω–∞—á–∏—Ç –≤—Å–µ–≥–¥–∞ –±—É–¥—É—Ç –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω—ã —Å—Ä–µ–¥–∏ —á–∏—Ç–∞—Ç–µ–ª–µ–π.

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ü–æ–ª—É—á–∏–ª–æ—Å—å –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ, —Ñ–∏–ª—å—Ç—Ä HAVING –ø—Ä–∏–∑–≤–∞–Ω –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∫–Ω–∏–≥–∏ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ 50 –∏ –±–æ–ª–µ–µ, –∞ –¥–∞–Ω–Ω—ã–µ —Ç—ã –≥—Ä—É–ø–ø–∏—Ä—É–µ—à—å –ø–æ –∞–≤—Ç–æ—Ä—É. –í –∏—Ç–æ–≥–µ —Ñ–∏–ª—å—Ç—Ä —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç –Ω–µ –∫–Ω–∏–≥–∏, –∞ –∞–≤—Ç–æ—Ä–æ–≤, –∏ –≤ —Ç–∞–∫–æ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –ø–æ—á—Ç–∏ —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ –±—É–¥–µ—Ç 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫, –ø–æ—ç—Ç–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥ –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç–∞–Ω –Ω–µ–≤–µ—Ä–Ω–æ - –≤ –Ω–µ–≥–æ –ø–æ–ø–∞–¥—É—Ç –ª–∏—à–Ω–∏–µ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø—Ä–æ—Ö–æ–¥—è—Ç –ø–æ —É—Å–ª–æ–≤–∏—é —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫</s>
 </div>

<div class="alert alert-info"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –°–ø–∞—Å–∏–±–æ, –ø–µ—Ä–µ–ø–∏—Å–∞–ª–∞ –∫–æ–¥</div>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

### –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –∞–∫—Ç–∏–≤–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

In [12]:
# –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å:
    # –°–æ–∑–¥–∞–µ–º  –≤—Ä–µ–º–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º t, –≥–¥–µ
        # –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ —Ç–∞–±–ª–∏—Ü–µ reviews —Ç–∞–±–ª–∏—Ü—É ratings –ø–æ username
        # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—É –ø–æ –Ω–∏–∫—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
        # –î–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è —Ä–∞—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ–±–∑–æ—Ä–æ–≤
        # –§–∏–ª—å—Ç—Ä—É–µ–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ > 50
    # –ò–∑ –≤—Ä–µ–º–µ–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã t —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∑–∞–Ω—á–µ–Ω–∏–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É review_cnt –∏ 
    # –æ–∫—Ä—É–≥–ª—è–µ–º –¥–æ 1 –∑–Ω–∞–∫–∞ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π
    
query = ''' WITH t AS (SELECT rev.username, 
                       COUNT(DISTINCT rat.rating_id) AS rating_cnt,
                       COUNT(DISTINCT rev.review_id) AS review_cnt
                       FROM reviews rev
                       FULL OUTER JOIN ratings rat ON rev.username = rat.username
                       GROUP BY rev.username
                       HAVING COUNT(DISTINCT rat.rating_id) > 50)
                       
            SELECT ROUND(AVG(review_cnt),1) AS review_avg
            FROM t;
        '''
    
# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
pd.io.sql.read_sql(query, con=engine)

   review_avg
0        24.3

–í —Å—Ä–µ–¥–Ω–µ–º –∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –ø–∏—à—É—Ç `–æ–∫–æ–ª–æ 24-—Ö –æ–±–∑–æ—Ä–æ–≤` –Ω–∞ –∫–Ω–∏–≥–∏. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ–π –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–µ–π –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫ –∏ –æ–±–∑–æ—Ä–æ–≤, –∫–æ—Ç–æ—Ä–∞—è –º–æ–∂–µ—Ç –æ–∑–Ω–∞—á–∏—Ç—å —Ç–æ, —á—Ç–æ –∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ - –∞–∫—Ç–∏–≤–Ω—ã –≤–æ –≤—Å–µ–º. –¢–∞–∫–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –æ—á–µ–Ω—å —Ü–µ–Ω–Ω—ã, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–∏ –±—É–¥—É—Ç –∏—Å—Ç–æ—á–Ω–∏–∫–æ–º –±–µ—Å–ø–ª–∞—Ç–Ω–æ–π —Ä–µ–∫–ª–∞–º–æ–π - –Ω–µ–∫–∏–º —Å–∞—Ä–∞—Ñ–∞–Ω–Ω—ã–º —Ä–∞–¥–∏–æ –¥–ª—è —Å–µ—Ä–≤–∏—Å–∞.

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –¢–∞–±–ª–∏—Ü–∞ —Å –∫–Ω–∏–≥–∞–º–∏ –∑–¥–µ—Å—å –ª–∏—à–Ω—è—è, –ø—Ä–∏ —Ç–∞–∫–æ–π —Å—Ö–µ–º–µ –Ω—É–∂–Ω–æ –æ–±—ä–µ–¥–∏–Ω–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É —Å –æ–±–∑–æ—Ä–∞–º–∏ –∏ –æ—Ü–µ–Ω–∫–∞–º–∏ –ø–æ –∏–º–µ–Ω–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –æ—Ü–µ–Ω–æ–∫ –∏ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—É—á–∏–ª–æ—Å—å, —Ä–µ–∑—É–ª—å—Ç–∞—Ç –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥—Ä—É–≥–æ–π</s>
 </div>

<div class="alert alert-info"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü–æ–Ω—è–ª–∞, –ø–æ–ø—Ä–∞–≤–∏–ª–∞, –≤—Ä–æ–¥–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å –≤–µ—Ä–Ω–æ :)</div>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –û–±—â–∏–π –≤—ã–≤–æ–¥
<a href="#conclusion"></a>

–ü–æ—Å–ª–µ 1-–≥–æ —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ `821 –∫–Ω–∏–≥–∞` –∏–∑ 1000 –∫–Ω–∏–≥, –∏–º–µ—é—â–µ–π—Å—è –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö. –≠—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –∫–Ω–∏–≥ —è–≤–ª—è—é—Ç—Å—è –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–º–∏ –Ω–æ–≤–∏–Ω–∫–∞–º–∏, –ª–∏–±–æ –ø–µ—Ä–µ–∏–∑–¥–∞–Ω–∏—è–º–∏ –∫–ª–∞—Å—Å–∏–∫–∏.

–°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä —Å–∏–ª—å–Ω–æ –≤–∞—Ä—å–∏—Ä—É—é—Ç—Å—è –æ—Ç –∫–Ω–∏–≥–∏ –∫ –∫–Ω–∏–≥–µ. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ –æ—Ü–µ–Ω–æ–∫ —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ —Å–≤—è–∑–∞–Ω–æ —Å –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–π. `–ü–æ–ø—É–ª—è—Ä–Ω—ã–µ –∫–Ω–∏–≥–∏` –±—É–¥—É—Ç –∏–º–µ—Ç—å `–±–æ–ª—å—à–µ –æ—Ü–µ–Ω–æ–∫` –∏ `–æ–±–∑–æ—Ä–æ–≤`.

`–°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞` –∫–Ω–∏–≥–∏ –≤ —Å–µ—Ä–≤–∏—Å–µ –º–æ–∂–µ—Ç –ø–æ–º–æ—á—å —á–∏—Ç–∞—Ç–µ–ª—è–º —Å–¥–µ–ª–∞—Ç—å –≤—ã–±–æ—Ä, –Ω–æ –Ω—É–∂–Ω–æ —É—á–∏—Ç—ã–≤–∞—Ç—å –Ω–µ —Ç–æ–ª—å–∫–æ —Å–∞–º–∏ –æ—Ü–µ–Ω–∫–∏, –Ω–æ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –æ—Ü–µ–Ω–∏–≤—à–∏—Ö –∫–Ω–∏–≥—É, —Ç–∞–∫ –∫–∞–∫ –µ—Å–ª–∏ —Ç–∞–∫–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 1 –∏–ª–∏ 2, —Ç–æ –æ—Ü–µ–Ω–∫–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –∫—Ä–∞–π–Ω–µ —Å—É–±—ä–µ–∫—Ç–∏–≤–Ω–æ–π.

–û–¥–Ω–∏–º –∏–∑ —Å–∞–º—ã—Ö –±–æ–ª—å—à–∏—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —è–≤–ª—è–µ—Ç—Å—è `Penguin Books` - 42 –∫–Ω–∏–≥–∏. –û–Ω–∏ –∏–∑–¥–∞—é—Ç –∫–Ω–∏–≥–∏ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º —è–∑—ã–∫–µ –∏ —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –Ω–∞ –ø–æ–ª–∫–∞—Ö –∫–Ω–∏–∂–Ω—ã—Ö –º–∞–≥–∞–∑–∏–Ω–æ–≤, —á—Ç–æ –º–æ–∂–µ—Ç –≥–æ–≤–æ—Ä–∏—Ç—å –æ –∏—Ö –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω–æ—Å—Ç–∏ –≤ –ø–µ—á–∞—Ç–Ω–æ–º –≤–∏–¥–µ, –∞ –∑–Ω–∞—á–∏—Ç –∏ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–º —Ç–æ–∂–µ. –ó–∞—á–∞—Å—Ç—É—é –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –ø–µ—Ä–µ–∏–∑–¥–∞–µ—Ç –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–µ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏—è –∏–∑–≤–µ—Å—Ç–Ω—ã–µ –≤–æ –≤—Å–µ–º –º–∏—Ä–µ.

–í—Å–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –∏–º–µ–µ—Ç –º–µ–Ω–µ–µ 50 –∫–Ω–∏–≥ –Ω–∞ —Å–≤–æ–µ–º —Å—á–µ—Ç—É. –ó–Ω–∞—á–∏—Ç —Ä–∞–∑–º–µ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ –¥–ª—è –Ω–∞—Å –Ω–µ –∏–º–µ–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è. –ú—ã –º–æ–∂–µ–º —Å–æ—Ç—Ä—É–¥–Ω–∏—á–∞—Ç—å —Å–æ –≤—Å–µ–º–∏.

`–î–∂–æ–∞–Ω–∞ –†–æ—É–ª–∏–Ω–≥` –∏–º–µ–µ—Ç —Å–∞–º—É—é –≤—ã—Å–æ–∫—É—é —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É - `4.29`. –ï—ë –∫–Ω–∏–≥–∏ —á–∞—Å—Ç–æ –ø–æ–ª—É—á–∞—é—Ç `—ç–∫—Ä–∞–Ω–∏–∑–∞—Ü–∏—é`, —á—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –æ–Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω–∞, –ø–æ—ç—Ç–æ–º—É —É –Ω–µ–µ –±–æ–ª–µ–µ `50-—Ç–∏ –æ—Ü–µ–Ω–æ–∫`. –°—Ç–æ–∏—Ç –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ —Ç–µ, –∫–Ω–∏–≥–∏, —á—Ç–æ —É–∂–µ –¥–æ–±–∏–ª–∏—Å—å —É—Å–ø–µ—Ö–∞ –∏ –ø—Ä–∏–∑–Ω–∞–Ω–∏—è, –∞ –∑–Ω–∞—á–∏—Ç –≤—Å–µ–≥–¥–∞ –±—É–¥—É—Ç –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω—ã —Å—Ä–µ–¥–∏ —á–∏—Ç–∞—Ç–µ–ª–µ–π.

–í —Å—Ä–µ–¥–Ω–µ–º –∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –ø–∏—à—É—Ç –æ–∫–æ–ª–æ 24-—Ö –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –∫–Ω–∏–≥–∏. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ–π –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–µ–π –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫ –∏ –æ–±–∑–æ—Ä–æ–≤, –∫–æ—Ç–æ—Ä–∞—è –º–æ–∂–µ—Ç –æ–∑–Ω–∞—á–∏—Ç—å —Ç–æ, —á—Ç–æ `–∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ - –∞–∫—Ç–∏–≤–Ω—ã –≤–æ –≤—Å–µ–º`. –¢–∞–∫–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –æ—á–µ–Ω—å —Ü–µ–Ω–Ω—ã, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–∏ –±—É–¥—É—Ç –∏—Å—Ç–æ—á–Ω–∏–∫–æ–º –±–µ—Å–ø–ª–∞—Ç–Ω–æ–π —Ä–µ–∫–ª–∞–º–æ–π - –Ω–µ–∫–∏–º —Å–∞—Ä–∞—Ñ–∞–Ω–Ω—ã–º —Ä–∞–¥–∏–æ –¥–ª—è —Å–µ—Ä–≤–∏—Å–∞.

**–¶–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ** –∏–∑ –≤—Å–µ–≥–æ –≤—ã—à–µ—Å–∫–∞–∑–∞–Ω–æ–≥–æ –¥–æ–ª–∂–Ω–æ –≤–∫–ª—é—á–∞—Ç—å, —á—Ç–æ:
- —Å–µ—Ä–≤–∏—Å –∏–º–µ–µ—Ç –≤ —Å–≤–æ–µ–π –∫–æ–ª–ª–µ–∫—Ü–∏–∏ –∫–Ω–∏–≥ - `–Ω–æ–≤–∏–Ω–∫–∏`
- –∏–∑–≤–µ—Å—Ç–Ω—ã–µ `–∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–µ` –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏—è `–Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º —è–∑—ã–∫–µ`
- `–ø–æ–ø—É–ª—è—Ä–Ω—ã–µ` –∏ —ç–∫—Ä–∞–Ω–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –∫–Ω–∏–≥–∏
- –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ –æ—Ü–µ–Ω–æ–∫ –¥–ª—è `–ª–µ–≥–∫–æ–≥–æ –ø–æ–∏—Å–∫–∞ —Ö–æ—Ä–æ—à–µ–π –∫–Ω–∏–≥–∏ –Ω–∞ –≤–µ—á–µ—Ä`

–¢–∞–∫–∂–µ –¥–ª—è –º–æ–Ω–µ—Ç–∏–∑–∞—Ü–∏–∏:
- —Ä–∞–∑–º–µ—â–µ–Ω–∏–µ –∫–Ω–∏–≥ –Ω–∞ —Å–µ—Ä–≤–∏—Å–µ –Ω–µ –∑–∞–≤–∏—Å–∏—Ç –æ—Ç —Ä–∞–∑–º–µ—Ä–∞ –∏–∑–¥–∞–Ω–∏—è, `—Å–æ—Ç—Ä—É–¥–Ω–∏—á–∞–µ–º —Å–æ –≤—Å–µ–º–∏`
- —Å–µ—Ä–≤–∏—Å –∏–º–µ–µ—Ç —Å–≤–æ–µ `–∞–∫—Ç–∏–≤–Ω–æ–µ –∫–æ–º–º—å—é–Ω–∏—Ç–∏`, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ —Ä–µ–∫–ª–∞–º–æ–¥–∞—Ç–µ–ª—è–º

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –•–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –†–µ–∫–æ–º–µ–Ω–¥—É—é –µ—â–µ –ø—Ä–æ–π—Ç–∏ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–π –∫—É—Ä—Å –æ—Ç –ø—Ä–∞–∫—Ç–∏–∫—É–º–∞ –ø–æ <a href='https://practicum.yandex.ru/profile/ycloud-datalens/'> DataLens<a>
 </div>